<div class="row my-4">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr />
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label> Title</label>
        <input type="text" placeholder="Enter the title" class="form-control" [ngClass]="postForm.get('title').untouched? '': showTitleError()? 'is-invalid' : 'is-valid'" formControlName="title" />
       <div class="invalid-feedback"> {{showTitleError()}}</div>
      </div>
      <div class="mb-3">
        <label> Description</label>
        <textarea type="text" placeholder="Enter the description" class="form-control"
          formControlName="description" [ngClass]="postForm.get('description').untouched? '': showDescriptionError()? 'is-invalid' : 'is-valid'"></textarea>
        <div>
          <div class="invalid-feedback">  {{showDescriptionError()}}</div>
        </div>
      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid"> Submit </button>
      </div>
    </form>
  </div>
</div>
