<div class="row">
  <div class="col md-12">
    <h3>Posts List</h3>
  <div>
    <a href="" class="btn btn-primary" routerLink="/posts/add">Add Post </a>
  </div>
    <table class="table table-striped" *ngIf="posts | async as PostsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title / Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of PostsData">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
        <td><button class="btn btn-primary btn-sm" [routerLink]="['edit/',post.id]"> Update</button>&nbsp;
        <button class="btn btn-danger btn-sm" (click)="onDeletePost(post.id)"> Delete</button>&nbsp;
        <button class="btn btn-info btn-sm"  [routerLink]="['details', post.id]"> Detail</button>
      </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
